   html{
    height:100%;
   }

    body { 
     background: #000 url("star_field_full_gal.png") no-repeat fixed center center; 
     background-color:#000;
     color:fff;
     height:100%; 
      margin:0; 
      padding:0; 
      height:100%;
    }



/* TIMELINE
================================================== */
#timeline {
  clear: both;
  height: 10%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
  bottom:0px;
  /* FEEDBACK
  ================================================== */

  /* Container
  ================================================== */

}

#timeline .container.main {
    bottom: 0;
    clear: both;
    height: auto;
    margin: 0;
    position: absolute;
    width: 100%;
}

#timeline a {
  color: #0bd4e3;
  text-decoration: none;
}
#timeline a:hover {
  color: #07909a;
  text-decoration: underline;
}

/*
 * Navigation
 * UI for Navigation
 * ------------------------------------------------------------------------------------------- */
#timeline .navigation {
  border-top: 1px solid #333333;
  clear: both;
  cursor: move;
  height: 200px;
  position: relative;
  width: 100%;
}

#timeline .navigation .timenav {
  height:20px;
  position: absolute;
  top: 0px;
  width:100%;
  z-index: 1;
}
#timeline .navigation .timenav .time {
  background-color: #1a1a1a;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 150px;
  width:100%;
}
#timeline .navigation .timenav .time .time-interval-minor {
  height: 6px;
  position: absolute;
  top: -6px;
  white-space: nowrap;
  width:100%;
  z-index: 10;
}
#timeline .navigation .timenav .time .time-interval-minor .minor {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAMCAMAAACdvocfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFzMzM////040VdgAAAAJ0Uk5T/wDltzBKAAAAEklEQVR42mJgYAQCBopJgAADAAbwADHy2qHzAAAAAElFTkSuQmCC);
  background-position: center top;
  color: #aaaaaa;
  display: inline-block;
  height: 6px;
  margin-top: 0px;
  padding-top: 0px;
  position: relative;
  top: 0px;
  white-space: nowrap;
  width: 100%;
}
#timeline .navigation .timenav .time .time-interval {
  left: 0px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}
#timeline .navigation .timenav .time .time-interval div {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAMCAMAAACdvocfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFzMzM////040VdgAAAAJ0Uk5T/wDltzBKAAAAEklEQVR42mJgYAQCBopJgAADAAbwADHy2qHzAAAAAElFTkSuQmCC);
  background-position: left top;
  background-repeat: no-repeat;
  color: #aaaaaa;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  height: 3px;
  left: 0px;
  line-height: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1px;
  padding-top: 3px;
  position: absolute;
  text-align: left;
  text-indent: 0px;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 2;
}
#timeline .navigation .timenav .time .time-interval div strong {
  color: #ffffff;
  font-weight: bold;
}
#timeline .navigation .timenav .time .time-interval-major {
  left: 0px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}
#timeline .navigation .timenav .time .time-interval-major div {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAMCAMAAACdvocfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFzMzM////040VdgAAAAJ0Uk5T/wDltzBKAAAAEklEQVR42mJgYAQCBopJgAADAAbwADHy2qHzAAAAAElFTkSuQmCC);
  background-position: left top;
  background-repeat: no-repeat;
  color: #aaaaaa;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 15px;
  left: 0px;
  line-height: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1px;
  padding-top: 15px;
  position: absolute;
  text-align: left;
  text-indent: 0px;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 5;
}
#timeline .navigation .timenav .time .time-interval-major div strong {
  color: #ffffff;
  font-weight: bold;
}
/* Typography.less
 * Headings, body text, lists, etc
 * ---------------------------------------------------------------------------------------- */
#timeline {
  font-family: "Helvetica neue", Helvetica, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  line-height: 20px;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  
}

  #indicator {
  background-color: #1f67c0;
  height: 6px; 
  position: absolute;
  top: -2px;
  white-space: nowrap;
  width:5px;
  z-index: 10;
}

#timeline .navigation .timenav .time .timemodifier{
    color: #333;
    font-size: 12px;
    height: 50px;
    position: absolute;
    right: 0;
    padding:10px;
    text-align: center;
    top: 5px;
    vertical-align: middle;
    white-space: nowrap;
    width: 80px;
}
#timeline .navigation .timenav .time .timemodifier a{
    color: #999;
}

#timeline .navigation .timenav .time .timemodifier a:hover,
#timeline .navigation .timenav .time .timemodifier a:active
{
  text-decoration:none;
}
/*INTERFACE*/
#main {
  margin:0;
  overflow:hidden;
  padding:0;
}
#missiontime{
    color: #333333;
    font-size: 13px;
    height: 20px;
    margin: 10px auto;
    text-align: center;
    vertical-align: middle;
    width: 200px;
}

#missiontime.prelaunch{
    color: #d71c1c;
    font-weight:bold; 
}

/*COMMUNIACTION*/
    #space {
      float:right;
      height:90%;
      margin:0 auto;
      width:40%;

      }
    #earth {
      height:90%;
      width:40%;
    }
      #earth img.planetarybody,
      #space img.planetarybody {
      position:relative;
      width:100%;
      z-index: 1;
    }

      #space img.planetarybody {
            left:50%;
    }

      #earth img.speakerimage,
      #space img.speakerimage {
      -moz-border-radius-bottomleft: 90px;
      -moz-border-radius-topleft: 90px;
      -moz-border-radius-topright: 90px;
      -moz-border-radius-bottomright: 0px;
      border-bottom-left-radius: 90px;
      border-top-left-radius: 90px;
      border-top-right-radius: 90px;
      border-bottom-right-radius: 0px
      -webkit-border-bottom-left-radius: 90px;
      -webkit-border-bottom-right-radius: 0px;
      -webkit-border-top-left-radius: 90px;
      -webkit-border-top-right-radius: 90px;
      position:relative;
      z-index:100;
    }

      #earth img.speakerimage {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 90px;
      -webkit-border-bottom-left-radius: 0px;
      -webkit-border-bottom-right-radius: 90px;
      -moz-border-radius-bottomleft: 0px;
      -moz-border-radius-bottomright: 90px;
      margin-left:10px;
}



      #earth .content,
      #space .content {
      position: absolute;
      top: 30%;
      width: 40%;
    }

      #earth .content {
      text-align:right;
    }

    

      #earth .content .speaker,
      #space .content .speaker {
      color:#174e91;
      padding:10px;
      position:relative;
      z-index:100;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
    }
      #earth .content .message,
      #space .content .message {
      color:#e2e2e2;
      padding:0 5px 0 10px;
      z-index: 100;
      position:relative;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
    }